Repository tq02ksu/contextune: changes, and which Codecov flags are due for each by the changed paths.
All: rust-core, ffi-layer, audio-engine

codecov.yml:

# Codecov configuration for Contextune Music Player Plugin

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 85%
        threshold: 1%
        if_ci_failed: error
    patch:
      default:
        target: 80%
        threshold: 2%

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

ignore:
  # Ignore generated files and external dependencies
  - "core/fuzz/**/*"
  - "core/benches/**/*"
  - "core/examples/**/*"
  - "target/**/*"
  - "**/*.rs.bk"
  # Ignore test files from coverage requirements
  - "core/tests/**/*"
  - "**/tests.rs"
  - "**/test_*.rs"

flags:
  rust-core:
    paths:
      - core/src/
  ffi-layer:
    paths:
      - core/src/ffi/
  audio-engine:
    paths:
      - core/src/audio/

feat: 0.7 Security Audit Setup
  .github/workflows/ci.yml
  .github/workflows/security.yml
  .kiro/specs/music-player-plugin/tasks.md
  SECURITY.md
  core/deny.toml
  scripts/ci-local.sh
  scripts/security-scan.sh
Due: none

feat: 1.1 Project Structure Setup
  .kiro/specs/music-player-plugin/tasks.md
  core/Cargo.toml
  core/build.rs
  core/exports.map
  docs/development-setup.md
  docs/local-testing.md
Due: none

feat: 1.2 Basic Audio Engine with cpal
  .kiro/specs/music-player-plugin/tasks.md
  core/build.rs
  core/src/audio/buffer.rs
  core/src/audio/engine.rs
  core/src/audio/format.rs
  core/src/audio/mod.rs
  core/src/error.rs
Due: rust-core, audio-engine

feat: 1.3 Symphonia Integration for Decoding
  .kiro/specs/music-player-plugin/tasks.md
  core/src/audio/decoder.rs
  core/src/audio/engine.rs
  core/src/audio/mod.rs
Due: rust-core, audio-engine

feat: 1.4 Zero-Copy Ring Buffer save state
  .kiro/specs/music-player-plugin/tasks.md
  core/src/audio/decoder.rs
  core/src/audio/engine.rs
  core/src/audio/mod.rs
  core/src/audio/ring_buffer.rs
Due: rust-core, audio-engine

feat: 1.4 Zero-Copy Ring Buffer DONE
  .kiro/specs/music-player-plugin/tasks.md
  core/build.rs
  core/src/audio/buffer.rs
  core/src/audio/decoder.rs
  core/src/audio/engine.rs
  core/src/audio/format.rs
  core/src/audio/mod.rs
  core/src/audio/ring_buffer.rs
  core/src/ffi/c_api.rs
  core/src/ffi/types.rs
  core/tests/ffi_integration.rs
  core/tests/memory_leak_detection.rs
  core/tests/memory_safety_config.rs
  core/tests/ring_buffer_concurrency.rs
Due: rust-core, ffi-layer, audio-engine

feat: 1.5.1-1.5.2
  .kiro/specs/music-player-plugin/tasks.md
  core/src/audio/format.rs
  core/src/audio/processor.rs
Due: rust-core, audio-engine

feat: Implement sample rate conversion (if needed)
  .kiro/specs/music-player-plugin/tasks.md
  core/src/audio/processor.rs
Due: rust-core, audio-engine

feat: 1.5.4 Add dithering for output conversion
  .kiro/specs/music-player-plugin/tasks.md
  core/src/audio/processor.rs
Due: rust-core, audio-engine

feat: 1.5 64-bit Float Processing Pipeline DONE
  .kiro/specs/music-player-plugin/tasks.md
  core/src/audio/processor.rs
Due: rust-core, audio-engine

feat: 1.7 Basic Playback Controls
  .kiro/specs/music-player-plugin/tasks.md
  core/src/audio/engine.rs
  core/src/ffi/c_api.rs
  core/src/ffi/mod.rs
  core/src/ffi/types.rs
  core/tests/ffi_integration.rs
Due: rust-core, ffi-layer, audio-engine

feat: 1.8 Volume Control
  .kiro/specs/music-player-plugin/tasks.md
  core/src/audio/engine.rs
  core/src/ffi/c_api.rs
Due: rust-core, ffi-layer, audio-engine

feat: 2.3 FLAC Decoding
  .kiro/specs/music-player-plugin/tasks.md
  core/src/audio/decoder.rs
Due: rust-core, audio-engine

feat: 3: IDE Plugin Integration (3.1-3.5)
  .kiro/specs/music-player-plugin/design.md
  .kiro/specs/music-player-plugin/tasks.md
  README.md
  intellij-plugin/.gitignore
  intellij-plugin/PHASE_3.1_VERIFICATION.md
  intellij-plugin/PHASE_3.2_SUMMARY.md
  intellij-plugin/PHASE_3.3_SUMMARY.md
  intellij-plugin/PHASE_3.4_3.5_SUMMARY.md
  intellij-plugin/PROJECT_STATUS.md
  intellij-plugin/README.md
  intellij-plugin/build.gradle.kts
  intellij-plugin/build.sh
  intellij-plugin/gradle.properties
  intellij-plugin/gradlew
  intellij-plugin/gradlew.bat
  intellij-plugin/settings.gradle.kts
  intellij-plugin/src/main/kotlin/com/contexture/plugin/MusicPlayerPlugin.kt
  intellij-plugin/src/main/kotlin/com/contexture/plugin/actions/MuteAction.kt
  intellij-plugin/src/main/kotlin/com/contexture/plugin/actions/NextTrackAction.kt
  intellij-plugin/src/main/kotlin/com/contexture/plugin/actions/PlayPauseAction.kt
  intellij-plugin/src/main/kotlin/com/contexture/plugin/actions/PreviousTrackAction.kt
  intellij-plugin/src/main/kotlin/com/contexture/plugin/actions/StopAction.kt
  intellij-plugin/src/main/kotlin/com/contexture/plugin/actions/VolumeDownAction.kt
  intellij-plugin/src/main/kotlin/com/contexture/plugin/actions/VolumeUpAction.kt
  intellij-plugin/src/main/kotlin/com/contexture/plugin/services/LibraryService.kt
  intellij-plugin/src/main/kotlin/com/contexture/plugin/services/PlaybackService.kt
  intellij-plugin/src/main/kotlin/com/contexture/plugin/services/PlaylistService.kt
  intellij-plugin/src/main/kotlin/com/contexture/plugin/settings/MusicPlayerConfigurable.kt
  intellij-plugin/src/main/kotlin/com/contexture/plugin/ui/MusicPlayerToolWindowFactory.kt
  intellij-plugin/src/main/kotlin/com/contexture/plugin/utils/NativeLibraryLoader.kt
  intellij-plugin/src/main/resources/META-INF/plugin.xml
  intellij-plugin/src/main/resources/icons/README.md
  intellij-plugin/src/test/kotlin/com/contexture/plugin/utils/NativeLibraryLoaderTest.kt
Due: none

feat: 3: IDE Plugin Integration (3.1-3.5)
  intellij-plugin/src/main/kotlin/com/contexture/plugin/audio/RustAudioEngine.kt
  intellij-plugin/src/main/kotlin/com/contexture/plugin/ui/MusicPlayerPanel.kt
  intellij-plugin/src/test/kotlin/com/contexture/plugin/audio/RustAudioEngineTest.kt
  intellij-plugin/src/test/kotlin/com/contexture/plugin/services/PlaybackServiceTest.kt
  intellij-plugin/src/test/kotlin/com/contexture/plugin/ui/MusicPlayerPanelTest.kt
Due: none

feat: 3: IDE Plugin Integration ALL DONE
  .kiro/specs/music-player-plugin/tasks.md
  core/Cargo.toml
  core/src/playlist/manager.rs
  core/src/playlist/mod.rs
  intellij-plugin/PHASE_3.6_3.7_3.8_SUMMARY.md
  intellij-plugin/PROJECT_STATUS.md
  intellij-plugin/src/main/kotlin/com/contexture/plugin/MusicPlayerPlugin.kt
  intellij-plugin/src/main/kotlin/com/contexture/plugin/ui/MusicPlayerPanel.kt
  intellij-plugin/src/main/resources/META-INF/plugin.xml
  intellij-plugin/src/test/kotlin/com/contexture/plugin/services/ErrorNotificationServiceTest.kt
  intellij-plugin/src/test/kotlin/com/contexture/plugin/state/PlayerStateTest.kt
Due: rust-core

chore: gradle
  intellij-plugin/gradle/wrapper/gradle-wrapper.jar
  intellij-plugin/gradle/wrapper/gradle-wrapper.properties
Due: none

doc: fix url address from template
  SECURITY.md
  docs/development-setup.md
Due: none

doc: fix url address from template
  README.md
Due: none

fix: fix typo
  intellij-plugin/LOCAL_TESTING_GUIDE.md
  intellij-plugin/src/main/kotlin/com/contextune/plugin/audio/RustAudioEngine.kt
Due: none

fix: fix typo
  intellij-plugin/src/main/kotlin/com/contextune/plugin/audio/RustAudioEngine.kt
Due: none

fix: fix typo
  intellij-plugin/LOCAL_TESTING_GUIDE.md
  intellij-plugin/PHASE_3.1_VERIFICATION.md
  intellij-plugin/PHASE_3.3_SUMMARY.md
  intellij-plugin/PHASE_3.6_3.7_3.8_SUMMARY.md
  intellij-plugin/PROJECT_STATUS.md
  intellij-plugin/README.md
  intellij-plugin/build.sh
  intellij-plugin/gradle.properties
  intellij-plugin/src/main/kotlin/com/contextune/plugin/MusicPlayerPlugin.kt
  intellij-plugin/src/main/kotlin/com/contextune/plugin/services/ErrorNotificationService.kt
  intellij-plugin/src/main/kotlin/com/contextune/plugin/services/PlaybackService.kt
  intellij-plugin/src/main/kotlin/com/contextune/plugin/settings/MusicPlayerConfigurable.kt
  intellij-plugin/src/main/kotlin/com/contextune/plugin/state/PlayerState.kt
  intellij-plugin/src/main/kotlin/com/contextune/plugin/ui/MusicPlayerPanel.kt
  intellij-plugin/src/main/resources/META-INF/plugin.xml
  intellij-plugin/src/main/resources/icons/README.md
Due: none

fix: fix typo
  intellij-plugin/src/test/kotlin/com/contextune/plugin/audio/RustAudioEngineTest.kt
  intellij-plugin/src/test/kotlin/com/contextune/plugin/services/ErrorNotificationServiceTest.kt
  intellij-plugin/src/test/kotlin/com/contextune/plugin/services/PlaybackServiceTest.kt
  intellij-plugin/src/test/kotlin/com/contextune/plugin/state/PlayerStateTest.kt
  intellij-plugin/src/test/kotlin/com/contextune/plugin/ui/MusicPlayerPanelTest.kt
  intellij-plugin/src/test/kotlin/com/contextune/plugin/utils/NativeLibraryLoaderTest.kt
Due: none

fix: fix typo
  intellij-plugin/src/test/kotlin/com/contextune/plugin/utils/NativeLibraryLoaderTest.kt
Due: none

feat: 4.1 Playlist Manager in Rust & 4.2 Playlist CRUD Operations via FFI
  .kiro/specs/music-player-plugin/tasks.md
  core/src/ffi/mod.rs
  core/src/ffi/playlist_api.rs
  core/src/ffi/types.rs
Due: rust-core, ffi-layer

fix: try to resolve intellij platform plugin startup problem
  .gitignore
  intellij-plugin/PHASE_4.1_4.2_SUMMARY.md
  intellij-plugin/build.gradle.kts
  intellij-plugin/src/main/kotlin/com/contextune/plugin/MusicPlayerPlugin.kt
  intellij-plugin/src/main/kotlin/com/contextune/plugin/audio/RustAudioEngine.kt
  intellij-plugin/src/main/kotlin/com/contextune/plugin/utils/NativeLibraryLoader.kt
Due: none

fix: try to resolve intellij platform plugin startup problem
  intellij-plugin/build.gradle.kts
Due: none

doc: update format
  README.md
Due: none

chore: gradle toolchain
  intellij-plugin/build.gradle.kts
  intellij-plugin/gradle.properties
  intellij-plugin/gradle/libs.versions.toml
  intellij-plugin/settings.gradle.kts
Due: none

chore: gradle toolchain
  intellij-plugin/gradle/libs.versions.toml
Due: none

chore: gradle toolchain
  intellij-plugin/build.gradle.kts
Due: none

fix: 单元测试
  intellij-plugin/src/test/kotlin/com/contextune/plugin/ui/MusicPlayerPanelTest.kt
Due: none

fix: 单元测试
  intellij-plugin/CHANGELOG.md
  intellij-plugin/README.md
  intellij-plugin/build.gradle.kts
  intellij-plugin/gradle/libs.versions.toml
Due: none

fix: 单元测试
  intellij-plugin/build.gradle.kts
Due: none

feat: 4.3 Playlist UI in Plugin Layer
  .kiro/specs/music-player-plugin/tasks.md
  intellij-plugin/PHASE_4.3_SUMMARY.md
  intellij-plugin/src/main/kotlin/com/contextune/plugin/ui/MusicPlayerToolWindowFactory.kt
  intellij-plugin/src/main/kotlin/com/contextune/plugin/ui/PlaylistDragDropHandler.kt
  intellij-plugin/src/main/kotlin/com/contextune/plugin/ui/PlaylistView.kt
  intellij-plugin/src/test/kotlin/com/contextune/plugin/ui/PlaylistViewTest.kt
Due: none

feat: 2.4 AAC/ALAC Decoding
  .kiro/specs/music-player-plugin/tasks.md
  core/tests/aac_alac_decoding.rs
Due: none

feat: 4.3 Playlist UI in Plugin Layer
  intellij-plugin/gradle/libs.versions.toml
Due: none

fix: unit test in plugin
  intellij-plugin/src/test/kotlin/com/contextune/plugin/utils/NativeLibraryLoaderTest.kt
Due: none

chore: fix ci script
  .github/workflows/release.yml
Due: none
